:root {
  --color-white: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-size: 10px;

  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

p, h1, label {
  margin-bottom: 8px;
}

.survey-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
 
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.survey-header__title {
  width: 80%;

  line-height: 1.2;
  font-weight: 400;
  font-size: 3.2em;
}

.survey-header__subtitle {
  width: 95%;

  font-size: 1.8em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.form__container {
  padding: 40px 10px;
  background: rgba(27, 27, 50, 0.8);
  border-radius: 0.25em;
  height: 100%;
}

.form__row {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 1.8em;
}

