:root {
  --color-white: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  font-size: 10px;
}

.page-background {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

p, 
h1,
label,
.form__radio-legend {
  margin-bottom: 8px;
}

.survey-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
 
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.survey-header__title {
  width: 80%;

  line-height: 1.2;
  font-weight: 400;
  font-size: 3.2em;
}

.survey-header__subtitle {
  width: 95%;

  font-size: 1.8em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.form {
  padding: 40px 10px;
  background: rgba(27, 27, 50, 0.8);
  border-radius: 0.25em;
  height: 100%;
}

.form__row {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 1.8em;
  margin-bottom: 20px;
  padding: 4px;
}

.form__fields { /* Animation missing! */
  height: 38px;
  padding: 5px 10px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
}

.form__fields:focus { 
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form__radio-field {
  border: none;
}

.form__radio-label {
  margin-bottom: 0;
}

.form__radio-input,
.form__checkbox-input {
  margin-right: 10px;
  width: 20px;
  height: 20px; 
}

.form__radio-group {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.form__checkbox-title-info {
  font-size: 15px;
  font-style: normal;
}

.form__checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
} 

.form__comments-box {
  min-height: 120px;
  padding: 10px;
  resize: vertical;
  
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
}

.submit-button {
  padding: 10px;
  background: #37af65;
  color: var(--color-white);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px; 
}




